/* styles.css */

/* Set Background */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 47, 120, 0.386);
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/valentines-day-zoom-backgrounds-hearts-1643038425.jpeg?crop=1xw:1xh;center,top&resize=980:*'); /* Path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    padding: 0; /* Remove default body padding */
    margin: 0; /* Remove default body margin */
}

/* Center the image */
.image-container {
    text-align: center;   
}

/* Header Styles */
header {
    background-color: rgba(255, 77, 109, 0.8); /* Pink with opacity */
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive; /* Custom font */
    color: #fff; /* White */
}

/* Form Styles */
form {
    text-align: center; /* Center-align the content */
}

/* Button Styles */
button {
    background-color: #ff4d6d; /* Pink */
    color: #fff; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 10px; /* Add some margin between buttons */
}

button:hover {
    background-color: #ff3366; /* Darker pink on hover */
}

/* Footer Styles */
footer {
    background-color: rgba(255, 77, 109, 0.8); /* Pink with opacity */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
